 
 :root{
    --font-logo: 'Aclonica', sans-serif;
    --font-body: 'Source Sans Pro', sans-serif;
    --font-info: 'Urbanist', sans-serif;
 
    --font-size-lg: 3rem;
    --font-size-md: 2.1rem;
    --font-size-sm: 1.8rem;

    --white: #fff;
    --white-transparent: rgba(255, 255, 255, 0.308);
    --color-1: rgb(0, 0, 0);
    --color-2: rgb(75, 75, 47);
    --color-2-1: rgba(59, 59, 42, 0.349);
    --color-3: rgb(187, 82, 34);

    --color-4: rgb(78, 96, 250);

}

*{
 box-sizing: border-box;
 padding: 0%;
 margin: 0%;
}

html{
 font-size: 62.5%;
}

*, *:before, *:after {
 box-sizing: inherit;
}

body{
    font-family: var(--font-body);
    font-size: 16px;
}

ul, li {
  list-style: none;
}

.header-navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .3rem 1rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);

}

.header-navbar .navbar__logo {
  font-size: var(--font-size-lg);
  font-family: var(--font-logo);
}



.header-navbar .navbar__icons-menu span{
    margin-left: 3px;
    cursor: pointer;
}

.slider{
  position:relative;
}


.slider-img{
  display: flex;
  height: 70vh;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: .5rem;

}

.slider-img .img{
  scroll-snap-align: center;
  
}


.slider-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  top: 20rem;
  left: calc(50% - 13.1rem);

}

.slider-info .slider-info__title {
  margin-bottom: 6rem;
  color: var(--white);
  font-family: var(--font-info);
  font-weight: bold;
  border-radius: .5rem;
  padding: 0 5px;
  text-shadow: 1px 1px 3px var(--color-2);
}

.slider-info a{
  border-radius: .5rem;
  border: none;
  padding: 1rem 3rem;
  background-color: var(--color-2);
  color: var(--white);
  font-family: var(--font-info);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.slider-info a:hover{
  background-color: var(--white);
  color: var(--color-2);
  font-size: 2rem;
  transition: 1s;
}

.extra-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.extra-info .extra-info__card{
  display: flex;
  max-width: 28rem;
  margin: 3rem 0;
}

.extra-info .extra-info__card span{
  margin-right: 3rem;
  align-self: center;
}

hr {
  width: 70%;
  border: none;
  background-color: var(--color-2-1);
  height: 2px;
  margin-bottom: .5rem;
}

.categorias{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  width: 98%;
  background-color: var(--color-2);
}

.categorias h2{
  justify-self: center;
  max-width: 45rem;
  margin: 2rem 0;
  color: var(--white);
  background-color: var(--white-transparent);
  padding: 1rem 1rem;
}

.categoria-img{
  width: 85vw;

}

.categorias__contenido{
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  position: relative;
  cursor: pointer;
}

.categorias__contenido p{
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 9rem) 2rem;
  background-color: var(--color-2-1);
  color: var(--white);
  width: 65%;
  border-radius: .5rem;
  font-weight: bold; 
  font-size: var(--font-size-md);
}


.footer__terms-logo{
  text-align: center;
  font-size: 4.5rem;
  padding: 2rem 0;
  background-color: var(--color-2-1);
  color: var(--color-2);
  font-family: var(--font-logo);
}

.footer__terms-info{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  color: var(--white);
  background-color: var(--color-2);
}

.footer__terms-info h3{
  text-align: center;
  font-size: var(--font-size-lg); 
  font-family: var(--font-info);
}

.footer__terms-info ul {
  margin: 1rem 0 1rem 1rem;
  cursor: pointer;
}
.footer__terms-info ul > li:hover {
  color: var(--white-transparent);
}

.footer__rights  {
  text-align: center;
  background-color: black;
  color: var(--white);
  padding: 5px 0;
}